# Файлы Git
.git
.gitignore

# Файлы IDE (у тебя это .idea)
.idea/

# Секреты (их мы передадим по-другому)
.env

# Локальные зависимости (если есть)
vendor/

# Загруженные файлы (их мы подключим как "том")
uploads/

# Всякие файлы ОС
.DS_Store
*.log